<div class="container mt-9">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="background-color:rgba(0,0,0,0.25);color:white!important;border:0px">
                <div class="card-body text-center">
                    <span>GESTIÓN DE BENEFICIOS</span>
                    <button class="btn btn-success btn-lg float-end" routerLink='/crear-beneficio'>Agregar</button>
                    <div class="row mt-5" style="border-bottom:3px solid #F3AF4F">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-3 text-start">Titulo</div>
                        <div class="col-lg-4 text-start">Beneficio</div>

                        <div class="col-lg-3 text-start">Opciones</div>
                    </div>
                    <div class="row mt-4" *ngFor="let beneficio of listaBeneficios" style="border-bottom:3px solid #F3AF4F;">
                        <div class="col-lg-2 mb-2"><img src="{{ beneficio.imagen }}" class="img-fluid img-thumbnail"></div>
                        <div class="col-lg-3 text-start">{{ beneficio.titulo | uppercase }}</div>
                        <div class="col-lg-4 text-start">{{ beneficio.descripcion }}</div>
                        <div class="col-lg-3 text-start">
                            <i [routerLink]="['/editar-beneficio',beneficio.id]" class="fas fa-edit fa-lg text-primary" style="cursor: pointer;"></i>
                            <i [routerLink]="['/upload-beneficio',beneficio.id]" class="fas fa-cloud-upload-alt fa-lg text-primary" style="cursor: pointer;"></i>
                            <i [routerLink]="['/documentos-beneficios',beneficio.id, beneficio.titulo]" class="fas fa-link fa-lg text-primary" style="cursor: pointer;"></i>
                            <i (click)="borrarBeneficio(beneficio.id)" class="fas fa-trash fa-lg text-primary" style="cursor: pointer;"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>