<div class="container mt-9">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="background-color:black;opacity:0.7;color:white!important">
                <div class="card-body text-center">
                    <span>GESTIÓN DE NOTICIAS</span>
                    <button class="btn btn-success btn-lg float-end" routerLink='/crear-noticia'>Agregar</button>
                    <div class="row mt-5" style="border-bottom:3px solid #F3AF4F">
                        <div class="col-lg-2">Titulo</div>
                        <div class="col-lg-3">Noticia</div>

                        <div class="col-lg-2">Vigencia</div>
                        <div class="col-lg-3">Foto</div>
                        <div class="col-lg-2">Opciones</div>
                    </div>
                    <div class="row mt-4" *ngFor="let noti of listaNoticias" style="border-bottom:3px solid #F3AF4F;">
                        <div class="col-lg-2 mb-2"><img src="https://backend-jaguar.herokuapp.com/uploadsNoticias/{{ noti.imagen }}" class="img-fluid img-thumbnail"></div>
                        <div class="col-lg-2 text-start">{{ noti.titulo | uppercase }}</div>
                        <div class="col-lg-4 text-start">{{ noti.descripcion }}</div>
                        <div class="col-lg-2 text-start">{{ noti.vigencia | date: 'dd-MM-yyyy' }}</div>

                        <div class="col-lg-2"><i [routerLink]="['/editar-noticia',noti.id]" class="fas fa-edit fa-lg text-primary" style="cursor: pointer;"></i>
                            <i [routerLink]="['/upoad-noticia',noti.id]" class="fas fa-cloud-upload-alt fa-lg text-primary" style="cursor: pointer;"></i></div>
                    </div>
                    <!-- <table class="table mt-5 text-white" style="width:400px">
                        <thead>
                            <tr>
                                <th scope="col">Titulo</th>
                                <th scope="col">Noticia</th>

                                <th scope="col">Vigencia</th>
                                <th scope="col">Foto</th>

                                <th scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let noti of listaNoticias">
                                <td>
                                    <p class="text-start">{{ noti.titulo | uppercase }}</p>
                                </td>
                                <td>
                                    <p class="text-start">{{ noti.descripcion | slice:0:100 }}</p>
                                </td>
                                <td>{{ noti.vigencia | date: 'dd-MM-yyyy' }}</td>
                                <td><img src="http://localhost:8000/uploadNoticias/{{ noti.imagen }}" width="180"></td>
                                <td>
                                    <i [routerLink]="['/editar-noticia',noti.id]" class="fas fa-edit text-primary"></i>
                                    <i [routerLink]="['/upoad-noticia',noti.id]" class="fas fa-cloud-upload-alt text-success"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table> -->
                </div>
            </div>
        </div>
    </div>
</div>